In [1]:
import pandas as pd      #IMPORTANTE NO OLVIDAR ヽ(•‿ •)ノ
import numpy as np
pd.set_option("display.max_rows", 9) # Especificar el número de filas a mostrar
from scipy import stats # importando scipy.stats
%matplotlib inline
import matplotlib.pyplot as plt # importando matplotlib
from matplotlib.ticker import NullFormatter
import seaborn as sns # importando seaborn
import calendar
plt.style.use('seaborn-whitegrid') # Se define el estilo, en este caso se elige la visualización clásica de Matlab

# Importar datos por años a estudiar
En esta sección se importan los datos a utilizar en investigación (Los datos estan divididos por años de 2008-2016)

In [2]:
data=pd.read_excel("Filtrado2008.xlsx",index_col=0)
data

,ESTABLECIMIENTO,DPTO,CIIU,PERIODO,SOCIOSMUJ,SOCIOSHOM,PERMANENTEMUJ,PERMANENTEHOM,APRENDIZMUJ,APRENDIZHOM,...,PROD_BRUTA,PROD_INDUST,INVERBRUTA,TEMPORALDIRECTO,PERMANENTE,VAL_AGREGADO,MPCOMPRADA,COMPRAS_MP_EXTERIOR,EXPORTACIONES,VENTAS
EMPRESA,,,,,,,,,,,,,,,,,,,,,
145973,145898,11,1810,2008,0,0,0,2,0,0,...,3525900,3525900,0,0,2,912761,2602400,0,0,3460300
145979,145904,11,1810,2008,1,1,5,2,0,0,...,296411,296411,9406,0,7,122106,102941,0,0,296411
145987,145912,11,1810,2008,0,0,0,0,0,0,...,1594496,1594496,3200,46,0,366562,867491,0,194621,1597520
145988,145913,11,1741,2008,0,1,0,0,0,0,...,166200,166200,-2000,0,0,92868,26720,0,0,231480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987522,987522,8,1741,2008,0,0,15,9,1,1,...,35794404,35874371,1118252,28,24,15046178,19242385,0,29267261,36088823
987525,987525,8,1741,2008,0,0,15,9,1,1,...,35794404,35874371,1118252,28,24,15046178,19242385,0,29267261,36088823
987528,987528,8,1743,2008,0,1,4,6,0,1,...,1454542,1471054,6181,20,10,801930,542000,0,12970,1485489
987529,987529,8,1743,2008,0,1,4,6,0,1,...,1454542,1471054,6181,20,10,801930,542000,0,12970,1485489

In [25]:
# Para conocer cuál es la posición del valor más alto dentro de una columna se usa la función idx.max() ヽ(•‿ •)ノ

print("Las mayores ventas son de: $ %s" % data.loc[data.VENTAS.idxmax()].VENTAS)

Las mayores ventas son de: $ 249164227

In [3]:
data_2=pd.read_excel("Filtrado2009.xlsx",index_col=0)
data_2

,ESTABLECIMIENTO,DPTO,CIIU,PERIODO,SOCIOSMUJ,SOCIOSHOM,PERMANENTEMUJ,PERMANENTEHOM,APRENDIZMUJ,APRENDIZHOM,...,PROD_BRUTA,PROD_INDUST,INVERBRUTA,TEMPORALDIRECTO,PERMANENTE,VAL_AGREGADO,MPCOMPRADA,COMPRAS_MP_EXTERIOR,EXPORTACIONES,VENTAS
EMPRESA,,,,,,,,,,,,,,,,,,,,,
143927,143901,54,1810,2009,1,0,0,0,0,0,...,161550,161550,0,28,0,106484,52733,0,0,137550
143930,143904,5,1741,2009,0,0,1,8,0,0,...,329807,332082,16831,0,9,114929,177559,0,0,345696
143953,143927,5,1810,2009,0,0,7,9,1,0,...,2725625,2636103,31227,0,16,1551480,434238,0,1588295,2322069
143957,143931,5,1810,2009,0,0,0,0,0,0,...,402624,402624,3100,16,0,265820,135050,0,0,374644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987522,987522,8,1741,2009,0,0,9,8,0,2,...,32501595,32036066,77654,36,17,13489373,13952260,0,22499654,32250159
987525,987525,8,1741,2009,0,0,9,8,0,2,...,32501595,32036066,77654,36,17,13489373,13952260,0,22499654,32250159
987528,987528,8,1743,2009,0,1,4,6,0,1,...,1077885,1113873,37921,18,10,578163,284325,0,247579,1021495
987529,987529,8,1743,2009,0,1,4,6,0,1,...,1077885,1113873,37921,18,10,578163,284325,0,247579,1021495

In [4]:
data_3=pd.read_excel("Filtrado2010.xlsx",index_col=0)
data_3

,ESTABLECIMIENTO,DPTO,CIIU,PERIODO,SOCIOSMUJ,SOCIOSHOM,PERMANENTEMUJ,PERMANENTEHOM,APRENDIZMUJ,APRENDIZHOM,...,PROD_BRUTA,PROD_INDUST,INVERBRUTA,TEMPORALDIRECTO,PERMANENTE,VAL_AGREGADO,MPCOMPRADA,COMPRAS_MP_EXTERIOR,EXPORTACIONES,VENTAS
EMPRESA,,,,,,,,,,,,,,,,,,,,,
142363,142274,76,1730,2010,1,1,0,0,0,0,...,448251,448251,3169,28,0,302374,79389,0,0,448251
142364,142275,76,1810,2010,0,0,0,0,0,0,...,1419709,1419709,0,90,0,923795,449569,0,0,1420949
142366,142277,76,1810,2010,0,1,4,2,0,0,...,367309,437288,3400,0,6,53114,208161,0,0,493920
142373,142284,76,1810,2010,0,0,40,1,0,0,...,1311600,1311600,0,0,41,1191400,95000,0,0,1311600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987522,987522,8,1741,2010,0,0,8,7,1,2,...,39520191,40018459,176340,28,15,8794131,22768976,14691658,26402221,39930616
987525,987525,8,1741,2010,0,0,8,7,1,2,...,39520191,40018459,176340,28,15,8794131,22768976,14691658,26402221,39930616
987528,987528,8,1743,2010,2,1,1,1,0,0,...,360109,357869,8647000,0,2,28019,92944,0,0,246735
987529,987529,8,1743,2010,0,0,11,16,0,2,...,1828218,1824115,19317,0,27,928733,394580,0,114416,1573886

In [5]:
data_4=pd.read_excel("Filtrado2011.xlsx",index_col=0)
data_4

,ESTABLECIMIENTO,DPTO,CIIU,PERIODO,SOCIOSMUJ,SOCIOSHOM,PERMANENTEMUJ,PERMANENTEHOM,APRENDIZMUJ,APRENDIZHOM,...,PROD_BRUTA,PROD_INDUST,INVERBRUTA,TEMPORALDIRECTO,PERMANENTE,VAL_AGREGADO,MPCOMPRADA,COMPRAS_MP_EXTERIOR,EXPORTACIONES,VENTAS
EMPRESA,,,,,,,,,,,,,,,,,,,,,
142363,142274,76,1730,2011,1,1,0,0,0,0,...,432383,432383,23000,28,0,303655,77799,0,0,432383
142364,142275,76,1810,2011,0,0,0,0,0,0,...,1216984,1216984,24635,68,0,561577,628739,0,0,1216984
142366,142277,76,1810,2011,0,1,3,2,0,0,...,293768,275437,400,0,5,19009,193638,0,0,303296
142373,142284,76,1810,2011,0,0,40,1,0,0,...,1332527,1332527,0,0,41,1211286,96516,0,0,1332527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987522,987522,8,1741,2011,0,0,8,6,1,2,...,41971490,43864864,246394,28,14,8845174,23208972,0,29216200,44257770
987525,987525,8,1741,2011,0,0,8,6,1,2,...,41971490,43864864,246394,28,14,8845174,23208972,0,29216200,44257770
987528,987528,8,1743,2011,0,0,11,22,1,1,...,3105517,3123598,141251,0,33,1539236,1242708,256235,1023153,3254863
987529,987529,8,1743,2011,0,0,11,22,1,1,...,3105517,3123598,141251,0,33,1539236,1242708,256235,1023153,3254863

In [6]:
data_5=pd.read_excel("Filtrado2012.xlsx",index_col=0)
data_5

,ESTABLECIMIENTO,DPTO,CIIU,PERIODO,SOCIOSMUJ,SOCIOSHOM,PERMANENTEMUJ,PERMANENTEHOM,APRENDIZMUJ,APRENDIZHOM,...,PROD_BRUTA,PROD_INDUST,INVERBRUTA,TEMPORALDIRECTO,PERMANENTE,VAL_AGREGADO,MPCOMPRADA,COMPRAS_MP_EXTERIOR,EXPORTACIONES,VENTAS
EMPRESA,,,,,,,,,,,,,,,,,,,,,
142363,142274,76,1313,2012,1,1,0,0,0,0,...,459026,459026,2000,26,0,327030,76444,0,0,459026
142364,142275,76,1410,2012,4,0,0,1,0,0,...,1296623,1296623,27005,88,1,649550,596800,0,0,1296623
142366,142277,76,1410,2012,0,0,7,2,0,0,...,369325,411402,747,0,9,7693,311402,0,0,547830
142373,142284,76,1410,2012,0,0,40,1,0,0,...,1393903,1393903,0,0,41,1267223,100948,0,0,1393903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987522,987522,8,1392,2012,0,0,9,6,2,1,...,44779537,45107372,248635,42,15,9364789,26520100,18515889,26135930,44565224
987525,987525,8,1392,2012,0,0,9,6,2,1,...,44779537,45107372,248635,42,15,9364789,26520100,18515889,26135930,44565224
987528,987528,8,1394,2012,2,1,2,1,0,0,...,122048,121968,0,0,3,3438,0,0,0,250442
987529,987529,8,1394,2012,0,0,14,29,0,1,...,4370401,4279574,176638,0,43,1398256,2640016,833318,1106218,4283080

In [7]:
data_6=pd.read_excel("Filtrado2013.xlsx",index_col=0)
data_6

,ESTABLECIMIENTO,DPTO,CIIU,PERIODO,SOCIOSMUJ,SOCIOSHOM,PERMANENTEMUJ,PERMANENTEHOM,APRENDIZMUJ,APRENDIZHOM,...,PROD_BRUTA,PROD_INDUST,INVERBRUTA,TEMPORALDIRECTO,PERMANENTE,VAL_AGREGADO,MPCOMPRADA,COMPRAS_MP_EXTERIOR,EXPORTACIONES,VENTAS
EMPRESA,,,,,,,,,,,,,,,,,,,,,
141849,141633,68,1410,2013,0,0,4,2,0,0,...,1421000,1421000,0,20,6,731694,611704,0,0,1419692
141855,141639,68,1410,2013,0,0,3,0,0,0,...,2014542,2014542,399762,2,3,1796859,0,0,0,2014542
141862,141646,5,1410,2013,0,0,26,14,0,0,...,36171821,36171107,347014,0,40,26634692,7086659,0,4913308,32065825
141894,141678,11,1410,2013,0,1,5,5,0,0,...,2213852,2199905,5266,0,10,635574,916222,430566,2022750,2197413
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987522,987522,8,1392,2013,0,0,16,8,3,1,...,49457115,49465883,3550296,44,24,9797491,29396882,0,32799079,47591706
987525,987525,8,1392,2013,0,0,16,8,3,1,...,49457115,49465883,3550296,44,24,9797491,29396882,0,32799079,47591706
987528,987528,8,1394,2013,1,0,0,1,0,0,...,101964,106764,0,0,1,4270,76502,0,0,234969
987529,987529,8,1394,2013,0,0,9,15,0,1,...,1419727,1392244,2313,0,24,642116,397884,0,0,1332795

In [8]:
data_7=pd.read_excel("Filtrado2014.xlsx",index_col=0)
data_7

,ESTABLECIMIENTO,DPTO,CIIU,PERIODO,SOCIOSMUJ,SOCIOSHOM,PERMANENTEMUJ,PERMANENTEHOM,APRENDIZMUJ,APRENDIZHOM,...,PROD_BRUTA,PROD_INDUST,INVERBRUTA,TEMPORALDIRECTO,PERMANENTE,VAL_AGREGADO,MPCOMPRADA,COMPRAS_MP_EXTERIOR,EXPORTACIONES,VENTAS
EMPRESA,,,,,,,,,,,,,,,,,,,,,
141849,141633,68,1410,2014,0,1,4,0,0,0,...,1468111,1468111,10631,20,4,376443,1004041,0,0,1449419
141855,141639,68,1410,2014,0,0,3,2,0,0,...,2386207,2386207,422412,0,5,2037714,0,0,0,2386207
141862,141646,5,1410,2014,0,0,25,14,0,1,...,33506476,33510487,39085,0,39,20392120,8521085,0,7002258,33623820
141894,141678,11,1410,2014,0,0,3,9,0,0,...,3207769,3076185,6896,0,12,1302746,989277,586656,2264788,2884666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987508,987508,8,1410,2014,0,0,0,0,0,0,...,353514,353514,0,20,0,201397,136325,0,0,353514
987522,987522,8,1392,2014,0,0,11,5,2,1,...,38457666,39406820,1024540,38,16,10827943,17731756,0,23905338,38704245
987525,987525,8,1392,2014,0,0,11,5,2,1,...,38457666,39406820,1024540,38,16,10827943,17731756,0,23905338,38704245
987529,987529,8,1394,2014,1,0,12,22,2,1,...,4884565,4896750,-8098,6,34,1631212,2908283,359915,1308208,4965348

In [9]:
data_8=pd.read_excel("Filtrado2015.xlsx",index_col=0)
data_8

,ESTABLECIMIENTO,DPTO,CIIU,PERIODO,SOCIOSMUJ,SOCIOSHOM,PERMANENTEMUJ,PERMANENTEHOM,APRENDIZMUJ,APRENDIZHOM,...,PROD_BRUTA,PROD_INDUST,INVERBRUTA,TEMPORALDIRECTO,PERMANENTE,VAL_AGREGADO,MPCOMPRADA,COMPRAS_MP_EXTERIOR,EXPORTACIONES,VENTAS
EMPRESA,,,,,,,,,,,,,,,,,,,,,
141802,977368,5,1410,2015,0,0,370,41,13,6,...,14169906,14169906,47785,0,411,12537258,681613,0,0,14169906
141812,145789,11,1410,2015,0,0,3,0,1,1,...,1087630,1087630,0,86,3,553361,692477,0,0,1087630
141815,141077,5,1410,2015,0,0,0,0,0,0,...,1214502,1214502,0,50,0,858827,312875,0,0,1214502
141823,141094,5,1410,2015,1,0,1,0,0,0,...,7944,7944,0,0,1,3644,4000,0,0,6746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987483,987483,8,1410,2015,0,1,1,2,0,2,...,670190,670190,0,18,3,405117,166023,0,262872,817323
987522,987522,8,1392,2015,0,0,12,9,3,1,...,71191836,68122304,1365270,30,21,12375888,51228942,0,47222538,67431279
987525,987525,8,1392,2015,0,0,12,9,3,1,...,71191836,68122304,1365270,30,21,12375888,51228942,0,47222538,67431279
987529,987529,8,1394,2015,0,0,6,12,1,1,...,1523456,1510539,3517,0,18,870195,100657,80000,19409,1290052

In [10]:
data_9=pd.read_excel("Filtrado2016.xlsx",index_col=0)
data_9

,ESTABLECIMIENTO,DPTO,CIIU,PERIODO,SOCIOSMUJ,SOCIOSHOM,PERMANENTEMUJ,PERMANENTEHOM,APRENDIZMUJ,APRENDIZHOM,...,PROD_BRUTA,PROD_INDUST,INVERBRUTA,TEMPORALDIRECTO,PERMANENTE,VAL_AGREGADO,MPCOMPRADA,COMPRAS_MP_EXTERIOR,EXPORTACIONES,VENTAS
EMPRESA,,,,,,,,,,,,,,,,,,,,,
141532,140711,5,1410,2016,0,0,68,38,8,2,...,55643749,55471150,395046,0,106,39923189,12664248,486026,10055801,50432138
141553,140747,11,1410,2016,0,0,449,801,5,1,...,228864846,228927335,17701974,0,1250,129862479,60306658,40693156,3121447,224767032
141559,140753,11,139,2016,0,0,10,8,1,0,...,2387308,2381870,43835,0,18,737669,1697166,0,0,2381870
141573,140767,5,1410,2016,0,0,11,3,0,0,...,223374,223374,800,0,14,209107,0,0,0,223374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987525,987525,8,139,2016,0,0,0,0,4,0,...,11257778,11907721,25885,84,0,3431145,4925968,0,654653,11002090
987529,987529,8,139,2016,0,0,7,11,0,1,...,1554335,1566400,0,0,18,794639,279709,244803,0,1657388
987530,987530,8,139,2016,0,0,33,32,2,1,...,86282095,85785462,262072,2,65,22787632,46732723,2530882,49583775,85991402
987533,987533,8,139,2016,0,0,5,5,1,1,...,7892838,7892838,0,36,10,3682753,4038309,0,0,8600884

# Unificar todos los años en una sola base de datos

Se utiliza la función .append y el total de datos es de 11645 (11645 empresas)

In [11]:
total=data.append([data_2, data_3, data_4, data_5, data_6, data_7, data_8, data_9]) #Se unifica en base de datos "total"
total

,ESTABLECIMIENTO,DPTO,CIIU,PERIODO,SOCIOSMUJ,SOCIOSHOM,PERMANENTEMUJ,PERMANENTEHOM,APRENDIZMUJ,APRENDIZHOM,...,PROD_BRUTA,PROD_INDUST,INVERBRUTA,TEMPORALDIRECTO,PERMANENTE,VAL_AGREGADO,MPCOMPRADA,COMPRAS_MP_EXTERIOR,EXPORTACIONES,VENTAS
EMPRESA,,,,,,,,,,,,,,,,,,,,,
145973,145898,11,1810,2008,0,0,0,2,0,0,...,3525900,3525900,0,0,2,912761,2602400,0,0,3460300
145979,145904,11,1810,2008,1,1,5,2,0,0,...,296411,296411,9406,0,7,122106,102941,0,0,296411
145987,145912,11,1810,2008,0,0,0,0,0,0,...,1594496,1594496,3200,46,0,366562,867491,0,194621,1597520
145988,145913,11,1741,2008,0,1,0,0,0,0,...,166200,166200,-2000,0,0,92868,26720,0,0,231480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987525,987525,8,139,2016,0,0,0,0,4,0,...,11257778,11907721,25885,84,0,3431145,4925968,0,654653,11002090
987529,987529,8,139,2016,0,0,7,11,0,1,...,1554335,1566400,0,0,18,794639,279709,244803,0,1657388
987530,987530,8,139,2016,0,0,33,32,2,1,...,86282095,85785462,262072,2,65,22787632,46732723,2530882,49583775,85991402
987533,987533,8,139,2016,0,0,5,5,1,1,...,7892838,7892838,0,36,10,3682753,4038309,0,0,8600884

In [ ]:
print(total.info()) # Obtener información del DataFrame Unificado

In [89]:
# Para guardar el Dataframe se utiliza la función to_excel y se especifíca el nombre del archivo

total.to_excel("TOTAL.xlsx")

# Análisis Exploratorio de los datos

Los estadísticos descriptivos más habitualmente utilizados han sido la media y la desviación típica. Sin embargo, el uso automático de estos índices no es muy aconsejable. Se hallan los valores máximos, media, mediana (percentil 50%), moda, desviación típica, varianza, percentil inferior 25% y percentil superior 75%

In [12]:
maximos = total.max() #Serie que contiene los valores máximos de cada columna con función max()
maximos

ESTABLECIMIENTO           987533
DPTO                          76
CIIU                        1810
PERIODO                     2016
                         ...
MPCOMPRADA             387460640
COMPRAS_MP_EXTERIOR    141580839
EXPORTACIONES          194416648
VENTAS                 464467863
Length: 75, dtype: int64

In [13]:
media=total.mean() # media aritmetica de cada columna con función función mean()   “No se por qué aparece así  ?????”
media

ESTABLECIMIENTO        5.018258e+05
DPTO                   2.084173e+01
CIIU                   1.549005e+03
PERIODO                2.011981e+03
                           ...
MPCOMPRADA             3.135137e+06
COMPRAS_MP_EXTERIOR    7.304261e+05
EXPORTACIONES          1.274879e+06
VENTAS                 7.581216e+06
Length: 75, dtype: float64

In [14]:
mediana=total.median() # mediana de cada columna utilizando la función median() 
mediana

ESTABLECIMIENTO         217217.0
DPTO                        11.0
CIIU                      1410.0
PERIODO                   2012.0
                         ...
MPCOMPRADA              530365.0
COMPRAS_MP_EXTERIOR          0.0
EXPORTACIONES                0.0
VENTAS                 1464990.0
Length: 75, dtype: float64

In [ ]:
stats.mode(total) # Moda de cada columna # el 2do array devuelve la frecuencia.

In [15]:
desvtipica=np.std(total, 0) # Desviación típica de cada columna utilizando la función std ()
desvtipica

ESTABLECIMIENTO        3.886233e+05
DPTO                   2.564409e+01
CIIU                   2.897916e+02
PERIODO                2.496968e+00
                           ...
MPCOMPRADA             1.263802e+07
COMPRAS_MP_EXTERIOR    5.072078e+06
EXPORTACIONES          6.979826e+06
VENTAS                 2.666381e+07
Length: 75, dtype: float64

In [16]:
varianza=np.var(total, 0) # varianza de cada columna utilizando la función var()
varianza

ESTABLECIMIENTO        1.510281e+11
DPTO                   6.576193e+02
CIIU                   8.397918e+04
PERIODO                6.234848e+00
                           ...
MPCOMPRADA             1.597197e+14
COMPRAS_MP_EXTERIOR    2.572597e+13
EXPORTACIONES          4.871797e+13
VENTAS                 7.109587e+14
Length: 75, dtype: float64

In [17]:
resumenestad=total.describe() # resumen estadistadistico con pandas 
resumenestad #cantidad,media,desviación, mímino, percentil inferior, 50% o mediana, percentil superior, máximo

,ESTABLECIMIENTO,DPTO,CIIU,PERIODO,SOCIOSMUJ,SOCIOSHOM,PERMANENTEMUJ,PERMANENTEHOM,APRENDIZMUJ,APRENDIZHOM,...,PROD_BRUTA,PROD_INDUST,INVERBRUTA,TEMPORALDIRECTO,PERMANENTE,VAL_AGREGADO,MPCOMPRADA,COMPRAS_MP_EXTERIOR,EXPORTACIONES,VENTAS
count,11645.000000,11645.000000,11645.000000,11645.000000,11645.000000,11645.000000,11645.000000,11645.000000,11645.000000,11645.000000,...,1.164500e+04,1.164500e+04,1.164500e+04,11645.000000,11645.000000,1.164500e+04,1.164500e+04,1.164500e+04,1.164500e+04,1.164500e+04
mean,501825.836926,20.841735,1549.005067,2011.981022,0.197681,0.212108,20.967626,16.038128,1.406956,0.698755,...,7.787305e+06,7.778359e+06,2.091210e+05,37.561185,37.005754,3.387853e+06,3.135137e+06,7.304261e+05,1.274879e+06,7.581216e+06
std,388639.971086,25.645191,289.804063,2.497075,0.519372,0.512477,53.675724,61.315094,4.273062,2.970646,...,2.652527e+07,2.649900e+07,1.869665e+06,136.416236,100.473582,1.153659e+07,1.263857e+07,5.072296e+06,6.980126e+06,2.666495e+07
min,140711.000000,5.000000,13.000000,2008.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,9.900000e+02,9.900000e+02,-5.154334e+07,0.000000,0.000000,1.200000e+01,0.000000e+00,0.000000e+00,0.000000e+00,-1.541820e+05
25%,144700.000000,5.000000,1410.000000,2010.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,5.895220e+05,5.881440e+05,0.000000e+00,0.000000,2.000000,2.563880e+05,1.480340e+05,0.000000e+00,0.000000e+00,5.727380e+05
50%,217217.000000,11.000000,1410.000000,2012.000000,0.000000,0.000000,5.000000,3.000000,0.000000,0.000000,...,1.501269e+06,1.495862e+06,2.420000e+03,0.000000,10.000000,6.630550e+05,5.303650e+05,0.000000e+00,0.000000e+00,1.464990e+06
75%,976117.000000,11.000000,1810.000000,2014.000000,0.000000,0.000000,18.000000,10.000000,1.000000,0.000000,...,4.806417e+06,4.785977e+06,5.500000e+04,24.000000,30.000000,2.102883e+06,1.768285e+06,0.000000e+00,3.012000e+03,4.617908e+06
max,987533.000000,76.000000,1810.000000,2016.000000,12.000000,8.000000,1599.000000,1244.000000,104.000000,89.000000,...,4.459258e+08,4.468870e+08,5.813870e+07,3426.000000,2843.000000,2.378099e+08,3.874606e+08,1.415808e+08,1.944166e+08,4.644679e+08

# Manipulación de datos perdidos

Para contar los valores missing, Nan o None se utiliza el comando sample y se crea la variable isnull().sum() para contarlo

Se observa que no hay datos perdidos

In [12]:
total.sample(10) #Contar los valores perdidos en cada columna
missing_values_count = total.isnull().sum()
missing_values_count[0:75] #No hay datos perdidos en ninguna columna

ESTABLECIMIENTO                 0
DPTO                            0
CIIU                            0
PERIODO                         0
SOCIOSMUJ                       0
SOCIOSHOM                       0
PERMANENTEMUJ                   0
PERMANENTEHOM                   0
APRENDIZMUJ                     0
APRENDIZHOM                     0
PROD_NAL_MUJ                    0
PROD_NAL_HOM                    0
PROD_EXT_MUJ                    0
PROD_EXT_HOM                    0
OBREROMUJ                       0
OBREROHOM                       0
ADM_MUJ                         0
ADM_HOM                         0
TOTMUJER                        0
TOTHOMBRE                       0
COSTOS_PT_ELAB_TERCEROS         0
OUTSOURCING_PROD                0
OUTSOURCING_ADM                 0
TOTAL_OUTSOURCING               0
MUESTRASGRATIS_PROD             0
MUESTRASGRATIS_ADM              0
TOT_MUESTRASGRATIS              0
TRANSP_PT_ADM                   0
TRANSP_PT                       0
SEGUROS                         0
PUBLICIDAD_PROD                 0
PUBLICIDAD_ADM                  0
TOT_PUBLICIDAD                  0
USO_PATENTES_ADM                0
TOTALUSO_PATENTES               0
GASTOSCARTERA_ADM               0
GASTOSCARTERA                   0
INV_MP                          0
INV_PP                          0
INV_PT                          0
INV_PTNOFAB                     0
TOTALINV                        0
COMPRAEINFORMATICA_NUEVO        0
COMPRAEINFORMATICA_USADO        0
GASTOSEDIF_USOPROPIO            0
GASTOSMAQ_USOPROPIO             0
GASTOSEINFORMATICA_USOPROPIO    0
GASTOSEOFICINA_USOPROPIO        0
GASTOSEQTRANSP_USOPROPIO        0
TOTALGASTOS_USOPROPIO           0
INVER_TERRENO                   0
INVER_EDIF                      0
INVER_MAQ                       0
TOTALINV_EINFORMATICA           0
INVER_OFICINA                   0
INVER_EQTRANSP                  0
TOTALINVER                      0
VAL_VENDIDOS_EINFORMATICA       0
VAL_TERRENO                     0
VAL_EDIF                        0
VAL_MAQ                         0
VAL_EINFORMATICA                0
VAL_OFICINA                     0
VAL_EQTRANSP                    0
VALORACTIVOS                    0
PROD_BRUTA                      0
PROD_INDUST                     0
INVERBRUTA                      0
TEMPORALDIRECTO                 0
PERMANENTE                      0
VAL_AGREGADO                    0
MPCOMPRADA                      0
COMPRAS_MP_EXTERIOR             0
EXPORTACIONES                   0
VENTAS                          0
dtype: int64

# Datos Atípicos
Un valor atípico es una observación que se aleja demasiado de la moda; esta muy lejos de la tendencia principal del resto de los datos. Pueden ser causados por errores en la recolección de datos o medidas inusuales. Generalmente se recomienda eliminarlos del conjunto de datos.

Los diagramas de cajas son una presentación visual que describe varias características importantes al mismo tiempo, tales como la dispersión y simetría. Para su realización se representan los tres cuartiles y los valores mínimo y máximo de los datos, sobre un rectángulo, alineado horizontal o verticalmente. Estos gráficos nos proporcionan abundante información y son sumamente útiles para encontrar valores atípicos y comparar dos conjunto de datos.

In [ ]:
# Ejemplo de grafico de cajas en python

SOCIOSMUJ = np.random.normal(100, 10, 200)
SOCIOSHOM = np.random.normal(80, 30, 200)
PERMANENTEMUJ = np.random.normal(90, 20, 200)
PERMANENTEHOM = np.random.normal(70, 25, 200)

datos_graf = [datos_1, datos_2, datos_3, datos_4]

# Creando el objeto figura
fig = plt.figure(1, figsize=(9, 6))

# Creando el subgrafico
ax = fig.add_subplot(111)

# creando el grafico de cajas
bp = ax.boxplot(datos_graf)

# visualizar mas facile los atípicos
for flier in bp['fliers']:
    flier.set(marker='o', color='red', alpha=0.5)
# los puntos aislados son valores atípicos