In [6]:
import pandas as pd      #IMPORTANTE NO OLVIDAR ヽ(•‿ •)ノ
import numpy as np
pd.set_option("display.max_rows", 10) # Especificar el número de filas a mostrar

## Importar datos por años a estudiar

En esta sección...

In [43]:
data=pd.read_excel("Filtrado2008.xlsx",index_col=0)
data.iloc[:4]

,ESTABLECIMIENTO,DPTO,CIIU,PERIODO,SOCIOSMUJ,SOCIOSHOM,PERMANENTEMUJ,PERMANENTEHOM,APRENDIZMUJ,APRENDIZHOM,...,PROD_BRUTA,PROD_INDUST,INVERBRUTA,TEMPORALDIRECTO,PERMANENTE,VAL_AGREGADO,MPCOMPRADA,COMPRAS_MP_EXTERIOR,EXPORTACIONES,VENTAS
EMPRESA,,,,,,,,,,,,,,,,,,,,,
145973,145898,11,1810,2008,0,0,0,2,0,0,...,3525900,3525900,0,0,2,912761,2602400,0,0,3460300
145979,145904,11,1810,2008,1,1,5,2,0,0,...,296411,296411,9406,0,7,122106,102941,0,0,296411
145987,145912,11,1810,2008,0,0,0,0,0,0,...,1594496,1594496,3200,46,0,366562,867491,0,194621,1597520
145988,145913,11,1741,2008,0,1,0,0,0,0,...,166200,166200,-2000,0,0,92868,26720,0,0,231480

In [26]:
data_2=pd.read_excel("Filtrado2013.xlsx",index_col=0)
data_2

,ESTABLECIMIENTO,DPTO,CIIU,periodo,SOCIOSMUJ,SOCIOSHOM,PERMANENTEMUJ,PERMANENTEHOM,APRENDIZMUJ,APRENDIZHOM,...,PROD_BRUTA,PROD_INDUST,INVERBRUTA,TEMPORALDIRECTO,PERMANENTE,VAL_AGREGADO,MPCOMPRADA,COMPRAS_MP_EXTERIOR,EXPORTACIONES,VENTAS
EMPRESA,,,,,,,,,,,,,,,,,,,,,
141849,141633,68,1410,2013,0,0,4,2,0,0,...,1421000,1421000,0,20,6,731694,611704,0,0,1419692
141855,141639,68,1410,2013,0,0,3,0,0,0,...,2014542,2014542,399762,2,3,1796859,0,0,0,2014542
141862,141646,5,1410,2013,0,0,26,14,0,0,...,36171821,36171107,347014,0,40,26634692,7086659,0,4913308,32065825
141894,141678,11,1410,2013,0,1,5,5,0,0,...,2213852,2199905,5266,0,10,635574,916222,430566,2022750,2197413
141896,141680,76,1410,2013,1,1,0,0,2,0,...,2603548,2603548,54274,68,0,1612120,534743,0,0,2461867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987508,987508,8,1410,2013,0,0,0,0,0,0,...,834141,834141,0,28,0,488889,320743,0,0,834141
987522,987522,8,1392,2013,0,0,16,8,3,1,...,49457115,49465883,3550296,44,24,9797491,29396882,0,32799079,47591706
987525,987525,8,1392,2013,0,0,16,8,3,1,...,49457115,49465883,3550296,44,24,9797491,29396882,0,32799079,47591706
987528,987528,8,1394,2013,1,0,0,1,0,0,...,101964,106764,0,0,1,4270,76502,0,0,234969
987529,987529,8,1394,2013,0,0,9,15,0,1,...,1419727,1392244,2313,0,24,642116,397884,0,0,1332795

In [36]:
data["periodo"]=2008
data.drop("Ano",axis=1)

,ESTABLECIMIENTO,DPTO,CIIU,PERIODO,SOCIOSMUJ,SOCIOSHOM,PERMANENTEMUJ,PERMANENTEHOM,APRENDIZMUJ,APRENDIZHOM,...,PROD_INDUST,INVERBRUTA,TEMPORALDIRECTO,PERMANENTE,VAL_AGREGADO,MPCOMPRADA,COMPRAS_MP_EXTERIOR,EXPORTACIONES,VENTAS,periodo
EMPRESA,,,,,,,,,,,,,,,,,,,,,
145973,145898,11,1810,2008,0,0,0,2,0,0,...,3525900,0,0,2,912761,2602400,0,0,3460300,2008
145979,145904,11,1810,2008,1,1,5,2,0,0,...,296411,9406,0,7,122106,102941,0,0,296411,2008
145987,145912,11,1810,2008,0,0,0,0,0,0,...,1594496,3200,46,0,366562,867491,0,194621,1597520,2008
145988,145913,11,1741,2008,0,1,0,0,0,0,...,166200,-2000,0,0,92868,26720,0,0,231480,2008
145997,145922,11,1810,2008,0,0,14,5,0,0,...,3350463,527797,0,19,1545782,1548929,0,51052,3451232,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987508,987508,8,1810,2008,0,0,0,0,0,0,...,535519,0,42,0,392901,127050,0,49910,535519,2008
987522,987522,8,1741,2008,0,0,15,9,1,1,...,35874371,1118252,28,24,15046178,19242385,0,29267261,36088823,2008
987525,987525,8,1741,2008,0,0,15,9,1,1,...,35874371,1118252,28,24,15046178,19242385,0,29267261,36088823,2008
987528,987528,8,1743,2008,0,1,4,6,0,1,...,1471054,6181,20,10,801930,542000,0,12970,1485489,2008
987529,987529,8,1743,2008,0,1,4,6,0,1,...,1471054,6181,20,10,801930,542000,0,12970,1485489,2008

In [37]:
data.append(data_2)

C:\Users\EEIE\Anaconda3\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

,ADM_HOM,ADM_MUJ,APRENDIZHOM,APRENDIZMUJ,Ano,CIIU,COMPRAEINFORMATICA_NUEVO,COMPRAEINFORMATICA_USADO,COMPRAS_MP_EXTERIOR,COSTOS_PT_ELAB_TERCEROS,...,VAL_AGREGADO,VAL_EDIF,VAL_EINFORMATICA,VAL_EQTRANSP,VAL_MAQ,VAL_OFICINA,VAL_TERRENO,VAL_VENDIDOS_EINFORMATICA,VENTAS,periodo
EMPRESA,,,,,,,,,,,,,,,,,,,,,
145973,1,0,0,0,2008,1810,0,0,0,178989,...,912761,148453,35800,197796,173535,86400,0,0,3460300,2008
145979,2,4,0,0,2008,1810,0,0,0,0,...,122106,105554,5522,39638,40547,10556,0,0,296411,2008
145987,2,3,0,0,2008,1810,0,0,0,272674,...,366562,0,6219,0,134041,3200,0,0,1597520,2008
145988,0,0,0,0,2008,1741,0,0,0,0,...,92868,0,504,0,7700,500,0,0,231480,2008
145997,0,4,0,0,2008,1810,5320,0,0,315495,...,1545782,667807,64863,14781,55831,117338,678004,0,3451232,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987508,2,0,0,0,2013,1410,0,0,0,0,...,488889,24304,1500,0,9186,0,0,0,834141,2013
987522,14,31,1,3,2013,1392,57431,0,0,0,...,9797491,215854,207402,734954,8353728,195328,738155,0,47591706,2013
987525,14,31,1,3,2013,1392,57431,0,0,0,...,9797491,215854,207402,734954,8353728,195328,738155,0,47591706,2013
987528,1,1,0,0,2013,1394,0,0,0,0,...,4270,8647000,0,84200,0,0,0,0,234969,2013
987529,2,4,1,0,2013,1394,590,0,0,0,...,642116,0,11449,0,481434,4351,0,0,1332795,2013